<div class="qhuy-see-detail qhuy-modal">
    <div class="qhuy-modal-content qhuy-animate">
        <div class="qhuy-img-container">
            <span class="qhuy-close" title="Close Modal">&times;</span>
        </div>

        <div class="qhuy-container">
            <div class="qhuy-product-thumb">
                <img src="" alt="thumbnail">
            </div>
            <div class="qhuy-product-desp">                        
                <div class="btn-group hide">
                    <h1 class="title" style="color:#0bb395;"></h1>
                        <ul class="list-unstyled hide">
                            <li class="qhuy-product-style-detail">Kiểu áo: <span></span></li>
                            <li class="qhuy-product-status-detail">Số lượng còn lại: <span></span></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li class="qhuy-product-price-detail">
                                <h2 style="color:red;">VNĐ</h2>
                            </li>
                        </ul>
                        <div id="product">
                            <form action="" method="GET">
                            <div class="form-group required">
                                <label class="control-label" for="input-option1632">Size áo</label>
                                <select name="option[1632]" id="input-option1632" class="form-control">
                                    <option value=""> --- Chọn --- </option>
                                    <option value="29921">S</option>
                                    <option value="29922">M </option>
                                    <option value="29920">L </option>
                                    <option value="29919">XL</option>
                                    <option value="29918">XXL</option>
                                    <option value="29923">XXXL </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-quantity">Số lượng</label>
                                <input name="quantity" value="1" size="2" id="input-quantity" class="form-control" type="text">
                                <input name="product_id" value="1874" type="hidden"><br>
                                <button type="submit" id="button-cart" data-loading-text="Đang tải..." class="btn btn-primary btn-lg btn-block">Mua hàng</button>
                            </div>
                            </form>
                        </div>
                </div>
            </div>      
        </div>
    </div>
</div>
