<div id="qhuy-login-form" class="qhuy-modal">
	<form class="qhuy-modal-content qhuy-animate">
		<div class="qhuy-img-container">
			<span class="qhuy-close" title="Close Modal">&times;</span>
		</div>
		<div class="qhuy-container">
			<label for="usrname"><b>Tên đăng nhập</b></label>
			<input type="text" placeholder="vd (admin account): ngquochuy123" name="usrname" required>
			<label for="psw"><b>Mặt khẩu</b></label>
			<input type="password" placeholder="vd (admin account): 123456" name="psw" required>
			<button type="submit">Đăng nhập</button>
			<label>
				<input type="checkbox" checked="checked" name="remember">
				Nhớ mặt khẩu
			</label>
		</div>
		<div class="qhuy-container qhuy-footbox">
			<button type="button" class="qhuy-cancelBtn">Hủy</button>
			<span class="qhuy-psw">Quên mật khẩu?</span>
		</div>
	</form>
</div>
