<div id="qhuy-signup-form" class="qhuy-modal">        
	<form class="qhuy-modal-content qhuy-animate">
		<div class="qhuy-img-container">
			<span class="qhuy-close" title="Close Modal">&times;</span>
		</div>
		<div class="qhuy-container">
			<label for="fullname"><b>Họ và tên</b></label>
			<input type="text" placeholder="vd: Nguyen Quoc Huy" name="fullname" required>
			<label for="usrname"><b>Tên đăng nhập</b></label>
			<input type="text" placeholder="vd: ngquochuy123" name="usrname" required>
			<label for="psw"><b>Mật khẩu</b></label>
			<input type="password" placeholder="vd: ********" name="psw" required>
			<label for="emailadd"><b>Email</b></label>
			<input type="email" placeholder="vd: ngquochuy@abcmail.com" name="emailadd" required>
			<label for="phonenb"><b>Số điện thoại</b></label>
			<input type="tel" placeholder="vd: 0123 456 789" name="phonenb" required>
			<button type="submit">Đăng ký</button>
		</div>
		<div class="qhuy-container qhuy-footbox">
			<button type="button" class="qhuy-cancelBtn">Hủy</button>
		</div>
	</form>
</div>
