<section class="qhuy-top-menu">
    <div class="qhuy-container">
        <nav class="qhuy-topside-menu">
            <ul>
                <li class="qhuy-user">
                    <a href="/user/profile">Thông tin tài khoản</a>
                </li>
                <li class="qhuy-user qhuy-end-menu">
                    <a href="/user/history">Lịch sử mua hàng</a>
                </li>
            </ul>
            <div class="menu-search">
                <form>
                    <input class="form-control" placeholder="Tìm kiếm" id="txt_global_search" value="" type="text">
                    <button type="button" id="btn-search">
                        <img src="/img/icon/search.png">
                    </button>
                </form>
            </div>
        </nav>
    </div>
</section>

<div class="lich-su-mua-hang">
    <div class="ds-giao-dich" style="height: 537px; width: 80%; margin: 30px auto;">
        <h2 style="color: black; margin-left: 15px;">Lịch sử mua hàng</h2>
        <div id="chi-tiet-gd" style="margin-bottom: 150px;">
            <table cellpadding="0" cellspacing="0" style="text-align: left;">
                <tbody>
                    <tr>
                        <th>STT</th>
                        <th>Mã đơn hàng</th>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Só lượng</th>
                        <th>Đơn giá</th>
                        <th>Hình thức giao dịch</th>
                        <th>Thành tiền</th>
                        <th>Thời gian mua</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>DEALTJOF123</td>
                        <td>AT0001</td>
                        <td>Áo thun trắng cổ tròn</td>
                        <td>2</td>
                        <td>150.000</td>
                        <td>Agribank</td>
                        <td>300.000</td>
                        <td>22/4/2018 9:10am</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>DEALTJOF123</td>
                        <td>AT0001</td>
                        <td>Áo thun trắng cổ tròn</td>
                        <td>2</td>
                        <td>150.000</td>
                        <td>Agribank</td>
                        <td>300.000</td>
                        <td>22/4/2018 9:10am</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>DEALTJOF123</td>
                        <td>AT0001</td>
                        <td>Áo thun trắng cổ tròn</td>
                        <td>2</td>
                        <td>150.000</td>
                        <td>Agribank</td>
                        <td>300.000</td>
                        <td>22/4/2018 9:10am</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
